.list-container{
    height: 400px;
    position: relative;
    background-size: cover;
    background-position: center;
    /* background-size:  100% 400px; */
    /* background-repeat: no-repeat; */
}

.list-container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.55);
}