@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.pcsc-header {
  position: relative;
  background-color: #343a40;
  background: url("https://i.ibb.co/s1jZJJw/random.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

/* .pcsc-header .pcsc-top-layer {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
} */

.pcsc-h1 {
  font-size: 2rem;
  font-family: "Merriweather", serif;
}

.pcsc-h1-summary {
  font-size: 2rem;
  font-family: "Merriweather", serif;
  margin-bottom: 4rem;
}
