.search > div > input {
  transition: width 0.5s;
}

.search > div > input::placeholder {
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 450px;
}
